<?php

// Site information
define('HASHTAG', '#foo'); // The hashtag to filter by:
define('SITE_TITLE', 'Sample Twister Page Title'); // The site title
define('SITE_SUBTITLE', 'The sample tagline for the Twitster page.'); // The site tagline/description

// Database connection information
define("DBHOST","localhost");
define("DBNAME","dbname");
define("DBUSER","dbusername");
define("DBPASS","dbpassword");

// Twitter information
define('TWITTER_USER','sampletwitteruser');
define('TWITTER_PASS','sampletwitterpass');

// General Twitster config
define('SYNDICATE_PROTECTED', 1);    // Do not display protected feeds
define('CACHE_ENABLED', 1);          // Cache Twitster results
define('CACHE_TIME',60 * 5);         // Second # is cache time in minutes
define('PAGE_LIMIT',20);             // Tweets per page
define('TWEET_LIMIT',0);             // Max # of Tweets in system
define('DEBUG',0);                   // Debug mode
define('QUERY_LIMIT',139);           // Twitter API query limit (200 max)
define('LOG_FILE','twitster.log');   // Logfile for debugging

?>